@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('@tldraw/editor/editor.css');
@import url('@tldraw/tldraw/tldraw.css');

.pink-border {
  border: 1px solid #db2777;
}

aside.EmojiPickerReact.epr-main {
  border: none !important;
  width: 100% !important;
}
a {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.tlui-debug-panel,
.tlui-navigation-zone,
.tlui-help-menu,
.tlui-menu-zone::before {
  display: none;
}

.tl-background,
.tlui-menu-zone,
.tlui-menu-zone::before {
  background-color: #fff;
}

.tl-background {
  border: 2px dashed #db2777;
}