@tailwind base;
@tailwind components;
@tailwind utilities;

.pink-border {
  border: 1px solid #db2777;
}

aside.EmojiPickerReact.epr-main {
  border: none !important;
  width: 100% !important;
}
a {
  scroll-behavior: smooth;
}